.message-list {
    margin: 5px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;

    max-height: 70vh;
    overflow: scroll;
}

.message-item {
    width: 60%;
    background: #eeeeee;
    border: 1px solid;
    border-left: none;
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.message-item img {
    width: 100px;
    border-radius: 100px;
    padding: 10px;
}

.message-item span {
    color: grey;
}
button {
    background: white;
    border: 1px solid;
    padding: 10px;
    margin: 10px;
    max-height: 30px;

}

.own-message {
    align-self: flex-end;
    border-right: none;
    border-left: 1px solid;
    min-height: 60px;
    padding: 0 10px;
}

.message-edit .icon{
    margin: 5px;
}
.message-edit{
    justify-content: center;
    align-items: center;
    display: flex;
}



.like{
    background: black;
    padding: 7px;
    margin: 5px;
    border-radius: 100%;
}

.divider{
    background: #cecece;
    padding: 5px;
    justify-content: center;
    width: initial;
    text-align: center;
}

.message-icon{
    display: none;
}

.message-item:hover .message-icon{
    display: block;
}

