.message-input {
    background: #eeeeee;
    min-height: 40px;
    border: 1px solid;
    margin: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message-input button {
    background: white;
    border: 1px solid;
    padding: 10px;
    margin: 10px;
    max-height: 30px;

}

.message-input textarea {
    min-height: 30px;
    min-width: 80%;
}
